/*  set global styles  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  define global variables  */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-padding: 100px;
    --main-transition: 0.3s;
    --section-background: #ececec;
}

/*******************************  local framework  *******************************/
.container {
    padding: 0 15px;
    margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
/*********************************************************************************/

body {
    font-family: 'Cairo', sans-serif;
}

/***********************************  header  ************************************/
header {
    background-color: #FFF;
}

header .container {
    display: flex;
    justify-content: space-between;
    margin: 0 7.5px;
    position: relative;
}

header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

/*  show the sub nav menu when the Other Links tab is hovered  */
.main-nav > li:last-child:hover .sub-nav {
    opacity: 1;
    top: 100%;
}

.main-nav > li > a {
    color: #000;
    padding: 0 30px;
    height: 72px;
    display: flex;
    align-items: center;
    position: relative;
}

.main-nav > li > a::before {
    content: "";
    height: 4px;
    width: 0;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
    transition: width var(--main-transition) ease-in-out;
}

.main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.main-nav > li > a:hover::before {
    width: 100%;
}

.sub-nav {
    width: 100%;
    display: flex;
    gap: 40px;
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    opacity: 0;
    transition: all var(--main-transition);
}

.sub-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.sub-nav-link {
    flex-basis: 45%;
    font-weight: bold;
    cursor: pointer;
    color: var(--main-color);
}

.sub-nav-link:nth-child(n+1):nth-child(-n+8){
    border-bottom: 1px solid #e9e6e6;
}

.sub-nav-link > a {
    display: inline-block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
}
/*********************************************************************************/