/*  set global styles  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  define global variables  */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-padding: 100px;
    --main-transition: 0.3s;
    --section-background: #ececec;
}

/*******************************  local framework  *******************************/
.container {
    padding: 0 15px;
    margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
/*********************************************************************************/

body {
    font-family: 'Cairo', sans-serif;
}

/***********************************  header  ************************************/
header {
    background-color: #FFF;
}

header .container {
    display: flex;
    justify-content: space-between;
    margin: 0 7.5px;
}

header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.main-nav a {
    color: #000;
    padding: 0 30px;
    height: 72px;
    display: flex;
    align-items: center;
    position: relative;
    transition: all var(--main-transition) ease-in-out;
}

.main-nav a::before {
    content: "";
    height: 4px;
    width: 0;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
    transition: width var(--main-transition) ease-in-out;
}

.main-nav li:hover > a {
    color: var(--main-color);
    background-color: #fafafa;
}

.main-nav li:hover > a::before {
    width: 100%;
}
/*********************************************************************************/