/*  set global styles  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  define global variables  */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-padding: 100px;
    --main-transition: 0.3s;
    --section-background: #ececec;
}

body {
    font-family: 'Cairo', sans-serif;
}